.container{
    margin: 20px auto;
    color: black;
}
.name{
    font: 45px/1.1em opensans-bold,sans-serif;
    letter-spacing: 0px;
    margin: 0 auto 10px;
}
.position{
    font: 25px/1em opensans-bold,sans-serif;
    letter-spacing: 1px;
    margin: 0 auto 20px;
}
.summary{
    font-family: opensans-regular,sans-serif;
    font-size: 100%;
    margin: 0 auto 20px;
}
.experience-heading,.education-heading,.personal-info-heading,.skills-heading{
    font: 25px/1em opensans-bold,sans-serif;
    letter-spacing: 1px;
}
.experience,.education,.personal-info,.skills{
    margin: 0 auto 20px;
}
span{
    display: block;
}
span.heading {
    font: 15px/1em opensans-bold,sans-serif;
    letter-spacing: 1px;
    margin: 0 auto 10px;
    font-weight: bold;
}
span.content {
    font-family: opensans-regular,sans-serif;
    font-size: 100%;
    margin: 0 auto 15px;
}
span.company-position-heading {
    font: 18px/1em opensans-bold,sans-serif;
    letter-spacing: 1px;
    margin: 0 auto 5px;
    font-weight: bold;
}
span.company-heading {
    font: 15px/1em opensans-bold,sans-serif;
    font-style: italic;
    letter-spacing: 0px;
    margin: 0 auto 15px;
    font-weight: 400;
}
ul{
    padding: 0 0 0 15px;
}
li{
    margin: 0 0 5px 0;
    text-align: justify;
}